@use "@/styles/breakpoints" as *;

.header {
	background: radial-gradient(at center top, #1f534d, var(--color-primary));
	// background: url("../../../public/images/bg.svg") no-repeat center center;
	color: var(--color-secondary);
	color: var(--color-primary-light);
	padding-top: calc(5rem + var(--nav-height));

	.header__container {
		width: 100%;

		.header__content {
			display: flex;
			width: var(--page-width);
			max-width: var(--page-max-width);
			margin: 10rem auto 0 auto;

			@media screen and (max-width: $breakpoint-small) {
				margin-top: 5rem;
			}

			@media screen and (max-width: $breakpoint-medium) {
				flex-direction: column;
				align-items: center;
			}

			.header__title {
				flex-direction: row;

				h1 {
					opacity: 0;
					visibility: hidden;
					@media screen and (max-width: $breakpoint-small) {
						font-size: 2rem;
						line-height: 2.5rem;
					}
				}

				h1 .highlight {
					color: var(--color-tertiary);
					font-weight: 800;
				}

				.header__title__text {
					flex-direction: column;
					width: 75%;

					@media screen and (max-width: $breakpoint-medium) {
						width: 100%;
					}
				}

				.header__title__intro {
					display: flex;
					align-items: end;
					gap: 5rem;

					p {
						width: 60%;
						font-size: 2.5rem;
						// font-size: 54px;
						line-height: 3.5rem;
						margin-block: 5rem;
						opacity: 0;
						visibility: hidden;

						@media screen and (max-width: $breakpoint-medium) {
							width: 100%;
							font-size: 1rem;
							line-height: 2.4rem;
						}
					}

					a {
						height: 60px;
						margin-bottom: 5rem;
						opacity: 0;
						visibility: hidden;
					}

					@media screen and (max-width: $breakpoint-medium) {
						flex-direction: column;
						align-items: start;
						gap: 2rem;

						p {
							width: 100%;
							font-size: 1.5rem;
							line-height: 2rem;
							margin: 2rem 0 0 0;
						}

						a {
							margin-bottom: 3rem;
						}
					}
				}

				p {
					font-size: 1.5rem;
					line-height: 1.8rem;
					margin-block: 3rem;
					text-shadow:
						0 4px 24px rgba(0, 0, 0, 0.25),
						0 1.5px 0 rgba(17, 48, 44, 0.15);
					opacity: 1;
				}

				a {
					width: fit-content;
					opacity: 0;
					transform: translateY(10px);
				}
			}
		}

		.header__image {
			position: relative;
			width: 100%;
			aspect-ratio: 5/2;
			clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

			&::after {
				content: "";
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					-121.785deg,
					rgba(18, 51, 47, 29%) 0%,
					rgba(18, 51, 47, 65%) 79%
				);

				z-index: 1;
			}

			img {
				object-fit: cover;
				z-index: 1;
			}

			@media screen and (max-width: $breakpoint-medium) {
				aspect-ratio: 16/10;
			}
		}

		.header__intro {
			width: var(--page-width);
			max-width: var(--page-max-width);
			margin: 10rem auto 0 auto;

			@media screen and (max-width: $breakpoint-large) {
				margin-left: 5%;
			}

			p {
				width: 90%;
				font-size: 3rem;
				line-height: 4rem;
				padding-block: var(--margin-block);
				margin: 0;

				@media screen and (max-width: $breakpoint-large) {
					width: 70%;
				}

				@media screen and (max-width: $breakpoint-medium) {
					width: 80%;
				}

				@media screen and (max-width: $breakpoint-small) {
					width: 100%;
					font-size: 1rem;
					line-height: 1.3rem;
				}
			}
		}
	}
}
