@use "@/styles/breakpoints" as *;

.header {
	background: radial-gradient(at center top, #1f534d, var(--color-primary));
	// background: url("../../../public/images/bg.svg") no-repeat center center;
	color: var(--color-secondary);
	color: var(--color-primary-light);
	padding-top: calc(5rem + var(--nav-height));

	.header__container {
		width: 100%;

		.header__content {
			display: flex;
			width: var(--page-width);
			max-width: var(--page-max-width);
			margin: 10rem auto 0 auto;

			@media screen and (max-width: $breakpoint-small) {
				margin-top: 5rem;
			}

			@media screen and (max-width: $breakpoint-medium) {
				flex-direction: column;
				align-items: center;
			}

			.header__title {
				display: flex;
				flex-direction: column;

				h1 {
					opacity: 0;
					visibility: hidden;
					@media screen and (max-width: $breakpoint-small) {
						font-size: 2rem;
						line-height: 2.5rem;
					}
				}

				h1 .highlight {
					color: var(--color-tertiary);
					// font-weight: 800;
					font-style: italic;
				}

				.header__subtitle {
					display: flex;
					flex-direction: column;
					width: 80%;

					@media screen and (max-width: $breakpoint-medium) {
						width: 100%;
					}

					p {
						font-size: 2.5rem;
						line-height: 3.5rem;
						font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
						line-height: clamp(2rem, 3vw + 1rem, 3.5rem);
						margin: 5rem 0 3rem 0;
						opacity: 0;
						visibility: hidden;

						@media screen and (max-width: $breakpoint-medium) {
							width: 100%;
							font-size: 1rem;
							line-height: 2.4rem;
						}
					}

					a {
						height: 60px;
						margin-bottom: 5rem;
						opacity: 0;
						visibility: hidden;
					}

					@media screen and (max-width: $breakpoint-medium) {
						flex-direction: column;
						align-items: start;
						gap: 2rem;

						p {
							width: 100%;
							font-size: 1.5rem;
							line-height: 2rem;
							margin: 2rem 0 0 0;
						}

						a {
							margin-bottom: 3rem;
						}
					}
				}

				a {
					width: fit-content;
					opacity: 0;
					transform: translateY(10px);
				}
			}
		}

		.header__image {
			position: relative;
			width: 100%;
			aspect-ratio: 5/2;
			clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

			&::after {
				content: "";
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					-121.785deg,
					rgba(18, 51, 47, 29%) 0%,
					rgba(18, 51, 47, 65%) 79%
				);

				z-index: 1;
			}

			img {
				object-fit: cover;
				z-index: 1;
			}

			@media screen and (max-width: $breakpoint-medium) {
				aspect-ratio: 16/10;
			}
		}
	}
}
