.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-top: 1.5em;
	transition: all 0.3s ease-in-out;
	padding: 1rem 3rem;
	border-radius: var(--border-radius-large);
	overflow: hidden;
	cursor: pointer;

	svg {
		margin-left: 1.3rem;
		margin-right: -1rem;
		transform: rotate(-45deg) translateY(-0.6rem);
		transform-origin: center;
		// margin-top: 4px;

		.line {
			opacity: 1;
			transition: opacity 100ms ease-out;
			stroke-width: 2px;
			fill: transparent;
			transform: translateX(-100%);
			transition: 0.2s ease-in;
		}

		.tip {
			transform: translateX(-15px);
			transition: transform 0.4s ease-out;
			stroke-width: 2px;
			fill: transparent;
		}
	}

	&:hover .line,
	&:focus .line,
	&:active .line {
		opacity: 1;
		transform: translateX(-40%);
		transition: transform 0.7s ease;
	}

	&:hover .tip,
	&:focus .tip,
	&:active .tip {
		transform: translateX(-10px);
		transition: 0.4s ease-out;
	}

	.wave {
		width: 350px;
		height: 350px;
		position: absolute;
		left: 0;
		top: -160px;
		transition: 0.4s;
		z-index: 0;
		pointer-events: none;

		@media (prefers-reduced-motion: reduce) {
			display: none;
		}

		&::before,
		&::after {
			width: 200%;
			height: 200%;
			content: "";
			position: absolute;
			top: 0;
			left: 40%;
			transform: translate(-50%, -75%);
		}

		&::before {
			border-radius: 50%;
			background-color: #487062b3;
			background-color: #d6a58467;
			animation: wave 40s linear infinite;
		}

		&::after {
			border-radius: 45%;
			background-color: #8299914d;
			background-color: #9b6d4e69;
			animation: wave 50s linear infinite;
		}
	}

	&.button[data-dark-background="true"] {
		color: var(--color-primary);
		background: var(--color-secondary);
		background: var(--color-tertiary);

		&:hover,
		&:focus,
		&:active {
			background: var(--color-tertiary);
			background: var(--color-tertiary-light);
			color: var(--color-primary);
		}
	}

	&:hover .wave,
	&:focus .wave,
	&:active .wave {
		// animation-play-state: paused;
		transform: translateY(-4%);
	}
}

@keyframes wave {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}
