@use "@/styles/breakpoints.scss" as *;

.card {
	position: relative;
	display: flex;
	flex-direction: row;
	width: var(--page-width);
	margin: var(--margin-block) auto;

	& * {
		box-sizing: border-box;
	}

	&:first-child {
		margin-top: 0;
	}

	.card__image {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card__content {
		padding: 2rem;

		.date {
			font-size: 0.7rem;
			opacity: 0.6;
			margin-bottom: 0.5rem;
		}

		h4 {
			font-size: 3rem;
			font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
			font-weight: 400;
			text-transform: uppercase;
			// text-align: center;
			opacity: 0.4;
		}

		p {
			margin-block: 1.5rem;
		}

		a {
		}
	}

	@media screen and (max-width: 1440px) {
		flex-direction: column;
	}

	// Mobile: Stack content above image
	@media screen and (max-width: $breakpoint-medium) {
	}
	@media screen and (max-width: $breakpoint-medium) {
	}
}

.help__card {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 500px;
	background: var(--color-primary);
	color: var(--color-secondary);
	border-radius: var(--border-radius-medium);
	padding: 2rem 1.5rem;

	@media screen and (max-width: $breakpoint-medium) {
		width: 100%;
		height: auto;
		padding-top: 10rem;
	}

	// transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

	// &:hover {
	// 	background: var(--color-tertiary);
	// 	transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	// 	cursor: pointer;
	// }

	h3 {
		font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2rem);
		line-height: clamp(2rem, 3vw + 0.5rem, 2.5rem);
		margin-top: auto;
		width: 60%;
		color: var(--color-tertiary);
		font-weight: 600;
	}

	p {
		font-size: 18px;

		&:nth-child(2) {
			margin-block: 1rem;
		}
	}

	a {
		margin-top: 2rem;
		// font-size: 14px;
		transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover {
			color: var(--color-tertiary);
			transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}
}
