@use "tailwindcss";
@use "@/styles/breakpoints.scss" as *;

:root {
	--color-primary: #12332f;
	--color-primary-dark: #0c2421;
	--color-primary-light: #bce0b5;
	--color-primary-lighter: #163b37;
	--color-secondary: #e2fbf8;
	--color-tertiary: #be8c6d;
	--color-tertiary-light: #ddb9a1;

	--page-width: 70%;
	--page-max-width: 1440px;
	--page-min-width: 320px;

	--nav-height: 5rem;

	@media screen and (max-width: $breakpoint-medium) {
		--nav-height: 2rem;
	}

	--margin-block: 5rem;
	@media screen and (max-width: $breakpoint-medium) {
		--margin-block: 3rem;
	}

	--section-padding: 10rem;
	@media screen and (max-width: $breakpoint-medium) {
		--section-padding: 5rem;
	}

	--card-padding: 5rem 3rem;
	@media screen and (max-width: $breakpoint-medium) {
		--card-padding: 3rem 2rem;
	}
	--small-card-padding: 3rem 2rem;
	@media screen and (max-width: $breakpoint-medium) {
		--small-card-padding: 2rem 1.5rem;
	}

	--border-radius-big: 5rem;
	--border-radius-medium: 1.5rem;
	--border-radius-small: 10px;
}

@media all and (max-width: $breakpoint-large) {
	:root {
		--page-width: 90%;
	}
}

body {
	background: var(--color-secondary);
	color: var(--color-primary);
	font-family: var(--font-atyp), Arial, Helvetica, sans-serif;
	font-size: clamp(0.95rem, 1vw + 0.25rem, 1rem);
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-block: 2rem;
	color: var(--color-primary);
}

main {
	margin: 0 auto;
}

section {
	width: var(--page-width);
	max-width: var(--page-max-width);
	margin: 0 auto;
	padding-top: var(--section-padding);
}

.section__fullwidth {
	width: 100%;
	max-width: 12000px;
	margin: 0 auto;
	padding-top: var(--section-padding);

	.section__intro {
		width: var(--page-width);
		max-width: var(--page-max-width);
		margin: 0 auto 5rem auto;
	}

	@media screen and (max-width: $breakpoint-medium) {
		h2 {
			margin-left: 1rem;

			&::before {
				width: 8px;
				left: -20px;
			}
		}
	}
}

.intro__paragraph {
	width: 60%;
	margin-block: var(--margin-block);
	font-size: 2rem;
	// font-size: 32px;
	// font-size: 40px;
	// font-weight: 700;

	@media screen and (max-width: $breakpoint-medium) {
		width: 90%;
		font-size: 1.5rem;
	}
}

h1 {
	/* font-family: Geist_mono, "Playfair Display", serif; */
	/* font-family: var(--font-newsreader); */
	font-family: var(--font-playfair);
	font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
	font-weight: 300;
}

h2 {
	position: relative;
	font-family: var(--font-playfair);
	font-size: 3.5rem;
	font-size: clamp(2rem, 4vw + 0.5rem, 3.5rem);
	font-weight: 700;
	line-height: 4.2rem;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		width: 12px;
		height: 150%;
		background: var(--color-tertiary);
		left: -35px;
		top: 55%;
		transform: translateY(-50%);
	}

	@media screen and (max-width: $breakpoint-medium) {
		font-size: 2.5rem;
		line-height: 3rem;

		&::before {
			width: 8px;
			left: -20px;
		}
	}
}

h3 {
	position: relative;
	font-size: 1.5rem;
	font-size: clamp(1.2rem, 2vw + 0.25rem, 1.5rem);
	font-weight: 400;
}

h4 {
	font-family: var(--font-playfair);
	font-size: 1.2rem;
	font-size: clamp(1rem, 1.5vw + 0.2rem, 1.2rem);
}

.content__spotlight {
	display: flex;
	flex-direction: row;
	margin: var(--margin-block) auto;
	overflow: hidden;

	&:first-child {
		margin-top: 0;
	}

	& > * {
		flex: 1;
	}

	& > img {
		flex: 2;
	}

	img {
		width: 60%;
	}

	&:hover > img {
		transform: scale(1.2);
	}

	.spotlight__info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--color-primary);
		color: var(--color-secondary);

		text-align: center;
		z-index: 1;

		h4 {
			font-family: var(--font-atyp);
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 2rem;
			opacity: 0.5;
		}

		h3 {
			font-style: italic;
			margin-bottom: 2rem;
		}
	}

	@media screen and (max-width: $breakpoint-medium) {
		flex-direction: column;
		align-items: center;

		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

		.spotlight__info {
			width: 100%;
			padding: 2rem;
			text-align: left;
			align-items: flex-start;

			h4 {
				margin-bottom: 1rem;
			}
		}
	}
}

.section__histories {
	width: 100%;
}

.upcoming__events {
	background: var(--color-secondary);
}

.lineChild,
.lineParent {
	display: inline-block;
	overflow: hidden;
}
