@use "tailwindcss";
@use "@/styles/breakpoints.scss" as *;

:root {
	--color-primary: #12332f;
	--color-primary-lighter: #163b37;
	--color-primary-light: #bce0b5;
	--color-secondary: #e2fbf8;
	--color-tertiary: #be8c6d;
	--color-tertiary-light: #ddb9a1;

	--page-width: 70%;
	--page-max-width: 1440px;
	--page-min-width: 320px;

	--nav-height: 5rem;

	@media screen and (max-width: $breakpoint-medium) {
		--nav-height: 2rem;
	}

	--margin-block: 5rem;

	@media screen and (max-width: $breakpoint-medium) {
		--margin-block: 2rem;
	}

	--small-card-padding: 3rem 2rem;
	@media screen and (max-width: $breakpoint-medium) {
		--small-card-padding: 2rem 1.5rem;
	}

	--card-padding: 5rem 3rem;
	@media screen and (max-width: $breakpoint-medium) {
		--card-padding: 3rem 2rem;
	}

	--border-radius-big: 5rem;
	--border-radius-medium: 1.5rem;
	--border-radius-small: 10px;
}

@media all and (max-width: $breakpoint-large) {
	:root {
		--page-width: 90%;
	}
}

button {
	margin: 0;
}

body {
	background: var(--color-secondary);
	color: var(--color-primary);
	font-family: var(--font-atyp), Arial, Helvetica, sans-serif;
	font-size: clamp(0.95rem, 1vw + 0.25rem, 1rem);
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-block: 2rem;
	color: var(--color-primary);
}

main {
	margin: 0 auto;
}

section {
	width: var(--page-width);
	max-width: var(--page-max-width);
	margin: 0 auto;
	padding-top: 10rem;
}

.section__fullwidth {
	width: 100%;
	max-width: 12000px;
	margin: 0 auto;
	padding-top: 10rem;

	.section__intro {
		width: var(--page-width);
		max-width: var(--page-max-width);
		margin: 0 auto 5rem auto;
	}
}

.intro__paragraph {
	width: 60%;
	margin-block: var(--margin-block);
	font-size: 2rem;
	// font-size: 32px;
	// font-size: 40px;
	// font-weight: 700;

	@media screen and (max-width: $breakpoint-medium) {
		width: 90%;
		font-size: 1.5rem;
	}
}

h1 {
	/* font-family: Geist_mono, "Playfair Display", serif; */
	/* font-family: var(--font-newsreader); */
	font-family: var(--font-playfair);
	font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
	font-weight: 300;
}

h2 {
	position: relative;
	font-family: var(--font-playfair);
	font-size: 3.5rem;
	font-size: clamp(2rem, 4vw + 0.5rem, 3.5rem);
	font-weight: 700;
	line-height: 4.2rem;
	z-index: 2;

	&::before {
		position: absolute;
		content: "";
		width: 15px;
		height: 100%;
		background: var(--color-tertiary);
		left: -35px;
		top: 55%;
		transform: translateY(-50%);
	}
}

h3 {
	position: relative;
	font-size: 1.5rem;
	font-size: clamp(1.2rem, 2vw + 0.25rem, 1.5rem);
	font-weight: 400;
}

h4 {
	font-family: var(--font-playfair);
	font-size: 1.2rem;
	font-size: clamp(1rem, 1.5vw + 0.2rem, 1.2rem);
}

.content__spotlight {
	display: flex;
	flex-direction: row;
	margin-bottom: 10rem;
	overflow: hidden;

	& > * {
		flex: 1;
	}

	& > img {
		flex: 2;
	}

	img {
		width: 60%;
	}

	&:hover > img {
		transform: scale(1.2);
	}

	.spotlight__info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--color-primary);
		color: var(--color-secondary);
		/* width: 40%; */
		text-align: center;
		z-index: 1;

		h4 {
			font-family: var(--font-atyp);
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 2rem;
			opacity: 0.5;
		}

		h3 {
			font-style: italic;
			margin-bottom: 2rem;
		}
	}
}

.section__histories {
	width: 100%;
}

.upcoming__events {
	background: var(--color-secondary);
}

.event__section {
	background: var(--color-primary);
}

.event__list {
	color: var(--color-primary-light);
	margin: 5rem auto 0 auto;

	.event__item {
		position: relative;
		// margin: 0 auto;
		// padding: 2.5rem;
		// border-bottom: 1px solid #5b918a;
		transition: 0.4s cubic-bezier(0.14, 0.18, 0.16, 1.02);

		&:last-child > .event__container {
			border-bottom: none;
		}

		.event__date {
			position: absolute;
			bottom: 40%;
			left: 15%;
			transform-origin: left center;
			transform: rotate(-90deg) translate(-50%, -50%);
			font-size: 4rem;
			font-weight: 700;
			color: #c4ded7;
			text-align: center;
			width: 250px;
			opacity: 0.2;

			@media screen and (max-width: $breakpoint-large) {
				font-size: 2rem;
				font-size: clamp(1rem, -0.875rem + 8.333vw, 2rem);
				position: relative;
				margin-left: 5%;
			}
		}

		.event__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: var(--page-width);
			max-width: var(--page-max-width);
			margin: 0 auto;
			border-bottom: var(--color-tertiary) 1px solid;
			padding-block: 2.5rem;

			.event__title {
				/* flex: 3; */
				width: 40%;
				h2 {
					font-weight: 500;
					line-height: 4.2rem;

					&::before {
						display: none;
					}
				}
			}
		}

		&:hover {
			background-color: #5b918a;
			color: var(--color-primary);
			transition: 0.6 cubic-bezier(0.14, 0.18, 0.16, 1.02);
		}
	}
}

.lineChild,
.lineParent {
	display: inline-block;
	overflow: hidden;
}
