@import "tailwindcss";

:root {
	--background: #e2fbf8;
	--foreground: #12332f;
	--color-tertiary: #bce0b5;
	--page-width: 70%;
	--page-max-width: 1440px;
	--page-min-width: 320px;
}

$breakpoint-small: 450px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@media all and (max-width: $breakpoint-large) {
	:root {
		--page-width: 90%;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-atyp), Arial, Helvetica, sans-serif;
	// background: #101010;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-block: 2rem;
	color: var(--foreground);
}

main {
	margin: 0 auto;
}

section {
	width: var(--page-width);
	max-width: var(--page-max-width);
	margin: 10rem auto 0 auto;
	padding-top: 10rem;
}

.section__fullwidth {
	width: 100%;
	max-width: 100%;
	margin: 10rem auto 0 auto;
	padding-top: 10rem;

	.section__intro {
		width: var(--page-width);
		max-width: var(--page-max-width);
		margin: 0 auto 5rem auto;
	}
}

h1 {
	/* font-family: Geist_mono, "Playfair Display", serif; */
	/* font-family: var(--font-newsreader); */
	font-family: var(--font-playfair);
	font-size: 3rem;
	font-weight: 300;
}

h2 {
	width: 70%;
	font-size: 2rem;
	font-weight: 300;
	margin-block: 1rem;
}

h3 {
	position: relative;
	font-family: var(--font-playfair);
	font-size: 1.5rem;
	font-weight: 300;

	/* &::after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 0;
		height: 3px;
		width: 25px;
		background: var(--foreground);
	} */
}

h4 {
	font-family: var(--font-playfair);
	font-size: 1.2rem;
}

.content__spotlight {
	display: flex;
	flex-direction: row;
	margin-bottom: 10rem;
	overflow: hidden;

	& > * {
		flex: 1;
	}

	& > img {
		flex: 2;
	}

	img {
		width: 60%;
	}

	&:hover > img {
		transform: scale(1.2);
	}

	.spotlight__info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--foreground);
		color: var(--background);
		/* width: 40%; */
		text-align: center;
		z-index: 1;

		h4 {
			font-family: var(--font-atyp);
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 2rem;
			opacity: 0.5;
		}

		h3 {
			font-style: italic;
			margin-bottom: 2rem;
		}
	}
}

.line,
.chars,
.split-word {
	/* position: relative !important; */
	overflow: hidden;
	white-space: nowrap;
	/* color: red; */
	/* transform: translateY(100%) skewY(7deg); */
	/* opacity: 0; */
}

.upcoming__events {
	background: var(--background);
}

.event__section {
	background: var(--foreground);
}

.event__list {
	color: #c4ded7;
	margin: 5rem auto 0 auto;

	.event__item {
		position: relative;
		/* margin: 0 auto; */
		/* padding: 2.5rem; */
		/* border-bottom: 1px solid #5b918a; */
		transition: 0.4s cubic-bezier(0.14, 0.18, 0.16, 1.02);

		&:last-child > .event__container {
			border-bottom: none;
		}

		.event__date {
			position: absolute;
			bottom: 40%;
			left: 15%;
			transform-origin: left center;
			transform: rotate(-90deg) translate(-50%, -50%);
			font-size: 4rem;
			font-weight: 700;
			color: #c4ded7;
			text-align: center;
			width: 250px;
			opacity: 0.2;

			@media screen and (max-width: $breakpoint-large) {
				font-size: 2rem;
				position: relative;
				margin-left: 5%;
			}
		}

		.event__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: var(--page-width);
			max-width: var(--page-max-width);
			margin: 0 auto;
			border-bottom: #12332f 1px solid;
			padding-block: 2.5rem;

			.event__title {
				/* flex: 3; */
				width: 40%;
				h2 {
					font-size: 4rem;
					font-weight: 600;
					line-height: 4.2rem;
				}
			}
		}

		&:hover {
			background-color: #5b918a;
			transition: 1s cubic-bezier(0.14, 0.18, 0.16, 1.02);
		}
	}
}
