@use "tailwindcss";
@use "@/styles/breakpoints.scss" as *;
// @use "blog";
// @use "utilities";
@import url("https://use.typekit.net/wxz5pcq.css");

:root {
	--color-primary: #12332f;
	--color-primary-dark: #0c2421;
	--color-primary-light: #bce0b5;
	--color-primary-lighter: #163b37;
	--color-secondary: #e2fbf8;
	--color-secondary: #ddddda;
	--color-tertiary: #be8c6d;
	--color-tertiary-light: #ddb9a1;

	--page-width: 70%;
	--page-max-width: 1440px;
	--page-min-width: 320px;

	--nav-height: 5rem;
	--margin-block: 5rem;
	--section-padding: 10rem;
	--card-padding: 5rem 3rem;
	--card-padding-small: 3rem 2rem;
	--border-radius-big: 5rem;
	--border-radius-medium: 1.5rem;
	--border-radius-small: 5px;

	// Fonts
	--anchor-font-size: 1.5rem;

	@media screen and (max-width: $breakpoint-medium) {
		--nav-height: 2rem;
		--margin-block: 3rem;
		--section-padding: 5rem;
		--card-padding: 3rem 2rem;
		--card-padding-small: 2rem 1.5rem;
	}

	@media screen and (max-width: $breakpoint-small) {
		--nav-height: 1rem;
		--margin-block: 2rem;
		--anchor-font-size: 0.8rem;
	}
}

@media all and (max-width: $breakpoint-large) {
	:root {
		--page-width: 90%;
	}
}

body {
	background: var(--color-secondary);
	color: var(--color-primary);
	font-family: "niveau-grotesk", sans-serif;
	// font-family: var(--font-atyp), Arial, Helvetica, sans-serif;
	// font-weight: 700;
	// font-family: "niveau-grotesk", sans-serif;
	// font-weight: 700;
	// font-style: italic;

	// font-family: "Signika Negative", sans-serif;
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-block: 2rem;
	color: var(--color-primary);
}

main {
	margin: 0 auto;
}

section {
	margin: 0 auto;
	// padding-block: var(--section-padding);

	&[data-theme="dark"] {
		background: var(--color-primary);
		color: var(--color-secondary);
	}
}

.section__content {
	width: var(--page-width);
	max-width: var(--page-max-width);
	margin: 0 auto;
}

.section__fullwidth {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;

	&[data-background="dark"] {
		background: var(--color-primary);
		color: var(--color-secondary);
	}
}

.heading__wrapper {
	width: fit-content;
	position: relative;
}

h1 {
	font-family: "Signika Negative", sans-serif;
	font-family: "Syne", sans-serif;
	font-family: "Playfair Display", sans-serif;
	font-size: clamp(3rem, 5vw, 6rem);
	line-height: clamp(4rem, 5.5vw + 1rem, 8rem);
	font-weight: 100;
}

h2 {
	position: relative;
	font-family: "Syne", sans-serif;
	font-size: clamp(2rem, 4vw + 0.5rem, 3.5rem);
	font-weight: 500;
	line-height: 4.4rem;
	z-index: 2;

	&::before {
		// content: "";
		position: absolute;
		width: 12px;
		height: 150%;
		background: var(--color-tertiary);
		left: -35px;
		top: 55%;
		transform: translateY(-50%);
	}

	@media screen and (max-width: $breakpoint-medium) {
		font-size: 2.5rem;
		line-height: 3rem;

		&::before {
			width: 8px;
			left: -20px;
		}
	}
}

h3 {
	font-family: "Syne", sans-serif;
	position: relative;
	font-size: 1.5rem;
	font-size: clamp(1.2rem, 2vw + 0.25rem, 1.5rem);
	// font-size: 40px;
	font-weight: 400;
}

h4 {
	// font-family: var(--font-playfair);
	font-family: "Syne", sans-serif;
	font-size: 1.2rem;
	font-size: clamp(1rem, 1.5vw + 0.2rem, 1.2rem);
}

p {
	font-size: 1.5rem;
	line-height: 2rem;

	font-size: clamp(20px, 4vw + 12px, 28px);
	line-height: clamp(28px, 5vw + 14px, 38px);

	font-size: clamp(18px, 18px + 14 * (100vw - 375px) / 1065, 32px);
	line-height: clamp(24px, 24px + 18 * (100vw - 375px) / 1065, 42px);

	// font-size: 48px;

	padding-bottom: 1.5rem;

	font-family: var(--font-sen), Arial, Helvetica, sans-serif;
	font-family: var(--font-source-sans), Arial, Helvetica, sans-serif;
	font-family: var(--font-ibm-plex), Arial, Helvetica, sans-serif;
	font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;

	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1.2rem;
		line-height: 2rem;
	}
}

.histories__wrapper {
	width: 100%;
	padding-top: var(--section-padding);
}

.about__wrapper {
	width: 100%;
	background: var(--color-primary);
	color: var(--color-secondary);
	padding-block: var(--section-padding);
	// padding-inline: var(--section-padding);
}

.image--fullwidth {
	position: relative;
	width: var(--page-max-width);
	max-width: none;
	margin-left: calc(-50vw + 50%);
	margin-bottom: 4rem;
	z-index: 1000;
	outline: 25px solid var(--color-secondary);
	// box-sizing: ;
}

.text-reveal__word {
	display: inline-block;
	opacity: 0.3;
	transition: opacity 0.1s;
}

.char,
.wordClass,
.charClass,
.lineClass {
	display: inline-block;
	overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none !important;
}

::view-transition-group(root) {
	z-index: auto !important;
}

::view-transition-image-pair(root) {
	isolation: isolate;
	will-change: transform, opacity, clip-path;
	z-index: 1;
}

::view-transition-new(root) {
	z-index: 20000;
	animation: none !important;
}

::view-transition-old(root) {
	z-index: 1;
	animation: none !important;
}
