@use "tailwindcss";
@use "@/styles/breakpoints.scss" as *;

:root {
	--color-primary: #12332f;
	--color-primary-dark: #0c2421;
	--color-primary-light: #bce0b5;
	--color-primary-lighter: #163b37;
	--color-secondary: #e2fbf8;
	--color-tertiary: #be8c6d;
	--color-tertiary-light: #ddb9a1;

	--page-width: 70%;
	--page-max-width: 1440px;
	--page-min-width: 320px;

	--nav-height: 5rem;

	@media screen and (max-width: $breakpoint-medium) {
		--nav-height: 2rem;
	}

	@media screen and (max-width: $breakpoint-small) {
		--nav-height: 1rem;
	}

	--margin-block: 5rem;
	@media screen and (max-width: $breakpoint-medium) {
		--margin-block: 3rem;
	}

	--section-padding: 10rem;
	@media screen and (max-width: $breakpoint-medium) {
		--section-padding: 5rem;
	}

	--card-padding: 5rem 3rem;
	@media screen and (max-width: $breakpoint-medium) {
		--card-padding: 3rem 2rem;
	}

	--card-padding-small: 3rem 2rem;
	@media screen and (max-width: $breakpoint-medium) {
		--card-padding-small: 2rem 1.5rem;
	}

	--border-radius-big: 5rem;
	--border-radius-medium: 1.5rem;
	--border-radius-small: 10px;

	// Fonts
	--anchor-font-size: 1.5rem;

	@media screen and (max-width: $breakpoint-small) {
		--anchor-font-size: 0.8rem;
	}
}

@media all and (max-width: $breakpoint-large) {
	:root {
		--page-width: 90%;
	}
}

body {
	background: var(--color-secondary);
	color: var(--color-primary);
	font-family: var(--font-atyp), Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-block: 2rem;
	color: var(--color-primary);
}

main {
	margin: 0 auto;
}

section {
	width: var(--page-width);
	max-width: var(--page-max-width);
	margin: 0 auto;
}

.section__fullwidth {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;

	.section__intro {
		width: var(--page-width);
		max-width: var(--page-max-width);
		margin: 0 auto 5rem auto;
	}
}

.header__intro {
	width: var(--page-width);
	max-width: var(--page-max-width);
	margin-block: var(--margin-block);
	width: 60%;
	margin-left: 15%;
	font-weight: 400;
	font-size: 2rem;

	@media screen and (max-width: $breakpoint-large) {
		margin-block: var(--margin-block);
		margin-left: 0;
		width: 80%;
	}

	@media screen and (max-width: $breakpoint-medium) {
		width: 100%;
		font-size: 1.5rem;
		line-height: 1.7rem;
	}
}

.intro__paragraph {
	width: 60%;
	margin-block: var(--margin-block);
	font-size: 2rem;

	@media screen and (max-width: $breakpoint-large) {
		width: 70%;
	}

	@media screen and (max-width: $breakpoint-medium) {
		width: 90%;
		font-size: 1.2rem;
	}
}

h1 {
	/* font-family: Geist_mono, "Playfair Display", serif; */
	/* font-family: var(--font-newsreader); */
	font-family: var(--font-playfair);
	font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
	font-size: clamp(2rem, 5vw, 5rem);
	line-height: clamp(4rem, 8vw + 1rem, 6.5rem);
	font-weight: 300;

	@media screen and (max-width: $breakpoint-large) {
		font-size: 4rem;
		font-size: clamp(2.5rem, 4vw + 0.6rem, 4rem);
		line-height: clamp(3rem, 5vw + 1rem, 5rem);
	}
}

.h2__wrapper {
	width: fit-content;
	position: relative;
	// outline: 1px solid red;

	.line {
		position: absolute;
		// top: 0;
		bottom: 25%;
		left: -5%;
		width: 110%;
		height: 30%;
		background-color: var(--color-tertiary-light);
		background-color: var(--color-tertiary);
		// z-index: -1;
	}
}

h2 {
	position: relative;
	font-family: var(--font-playfair);
	font-size: 3.5rem;
	font-size: clamp(2rem, 4vw + 0.5rem, 3.5rem);
	font-weight: 700;
	line-height: 4.4rem;
	z-index: 2;

	&::before {
		// content: "";
		position: absolute;
		width: 12px;
		height: 150%;
		background: var(--color-tertiary);
		left: -35px;
		top: 55%;
		transform: translateY(-50%);
	}

	@media screen and (max-width: $breakpoint-medium) {
		font-size: 2.5rem;
		line-height: 3rem;

		&::before {
			width: 8px;
			left: -20px;
		}
	}
}

h3 {
	position: relative;
	font-size: 1.5rem;
	font-size: clamp(1.2rem, 2vw + 0.25rem, 1.5rem);
	font-weight: 400;
}

h4 {
	font-family: var(--font-playfair);
	font-size: 1.2rem;
	font-size: clamp(1rem, 1.5vw + 0.2rem, 1.2rem);
}

p {
	line-height: 2.6rem;
	@media screen and (max-width: $breakpoint-medium) {
		font-size: 1.2rem;
		line-height: 1.3rem;
	}
}

.content__spotlight {
	width: calc(var(--page-width) + 15%);
	width: var(--page-width);
	display: flex;
	flex-direction: row;
	margin: var(--margin-block) auto;
	overflow: hidden;

	&:first-child {
		margin-top: 0;
	}

	.spotlight__image {
		flex: 1;
		height: 100%;
		aspect-ratio: 16 / 10;
		object-fit: cover;
		border-radius: var(--border-radius-big);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

		@media screen and (max-width: $breakpoint-large) {
			aspect-ratio: 16 / 8;
		}

		@media screen and (max-width: $breakpoint-medium) {
			aspect-ratio: 16 / 10;
		}
	}

	.spotlight__info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 35%;
		align-items: center;
		background: var(--color-primary-light);
		padding: 4rem 2rem;
		color: var(--color-primary);
		z-index: 1;

		h4 {
			font-size: 3rem;
			font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
			font-weight: 400;
			text-transform: uppercase;
			opacity: 0.4;
		}

		p {
			margin-block: 2rem;
			font-size: 2rem;
			line-height: 2.4rem;
			text-align: center;
		}

		a {
			margin-left: -35px;
		}
	}

	@media screen and (max-width: $breakpoint-large) {
		flex-direction: column;
		align-items: center;

		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

		.spotlight__info {
			width: 100%;
			padding: 3rem 1rem;

			h4 {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			p {
				margin-block: 1rem;
				font-size: 2rem;
				line-height: 2.2rem;
			}
		}
	}

	@media screen and (max-width: $breakpoint-medium) {
		flex-direction: column;
		align-items: center;

		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

		.spotlight__info {
			width: 100%;
			padding: 2rem 1rem;

			h4 {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			p {
				margin-block: 1rem;
				font-size: 2rem;
				line-height: 2.2rem;
			}
		}
	}
}

.histories__wrapper {
	width: 100%;
	padding-top: var(--section-padding);
}

.about__wrapper {
	width: 100%;
	background: var(--color-primary);
	color: var(--color-secondary);
	padding-block: var(--section-padding);
	// padding-inline: var(--section-padding);
}

.wordClass,
.charClass,
.lineClass {
	overflow: hidden;
}
