.anchor {
	position: relative;
	display: inline-block;
	margin-top: 1.5em;
	transition: all 0.3s ease-in-out;
	padding: 1rem 3rem;
	border-radius: 5rem;
	color: var(--color-secondary);
	background: var(--color-primary);

	&:first-child {
		overflow: hidden;
	}

	img {
		height: calc(2em + 0.5rem);
		width: calc(2em + 0.5rem);
		display: inline-flex;
		transition: 0.3s ease-in-out;
		margin-left: 1em;
	}
}

.anchor[data-dark-background="true"] {
	color: var(--color-primary);
	background: var(--color-secondary);
	// color: red;
	&:hover {
		background: var(--color-tertiary);
		color: var(--color-primary);
	}
}
