@use "@/styles/breakpoints.scss" as *;

.card {
	position: relative;
	width: calc(var(--page-width) + 15%);
	width: var(--page-width);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
	align-items: center;
	margin: var(--margin-block) auto;
	overflow: hidden;

	& * {
		box-sizing: border-box;
	}

	&:first-child {
		margin-top: 0;
	}

	.card__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 500px;
		aspect-ratio: 16 / 10;
		align-items: center;
		background: var(--color-primary-light);
		padding: 4rem 2rem;
		color: var(--color-primary);
		z-index: 1;

		h4 {
			font-size: 3rem;
			font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			opacity: 0.4;
		}

		p {
			margin-block: 1.5rem;
		}

		a {
			margin-left: -35px;
		}
	}

	.card__image {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		object-fit: contain;
		object-position: right;

		@media screen and (max-width: $breakpoint-large) {
			aspect-ratio: 16 / 8;
		}

		@media screen and (max-width: $breakpoint-medium) {
			aspect-ratio: 16 / 10;
		}
	}

	@media screen and (max-width: 1440px) {
		width: 90%;
	}

	@media screen and (max-width: $breakpoint-large) {
		grid-template-columns: 1fr;

		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

		.card__content {
			width: 100%;
			padding: 3rem 1rem;

			h4 {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			p {
				margin-block: 1rem;
			}
		}
	}

	@media screen and (max-width: $breakpoint-medium) {
		.card__content {
			padding: 2rem 1rem;
		}
	}
}
