@use "@/styles/breakpoints.scss" as *;

.card {
	position: relative;
	display: flex;
	flex-direction: row;
	width: var(--page-width);
	margin: var(--margin-block) auto;

	& * {
		box-sizing: border-box;
	}

	&:first-child {
		margin-top: 0;
	}

	.card__image {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card__content {
		padding: 2rem;

		.date {
			font-size: 0.7rem;
			opacity: 0.6;
			margin-bottom: 0.5rem;
		}

		h4 {
			font-size: 3rem;
			font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
			font-weight: 400;
			text-transform: uppercase;
			// text-align: center;
			opacity: 0.4;
		}

		p {
			margin-block: 1.5rem;
		}

		a {
		}
	}

	@media screen and (max-width: 1440px) {
		flex-direction: column;
	}

	// Mobile: Stack content above image
	@media screen and (max-width: $breakpoint-medium) {
	}
	@media screen and (max-width: $breakpoint-medium) {
	}
}
