@use "@/styles/breakpoints.scss" as *;

.carouselContainer {
	position: relative;
	// left: -10%;
	width: 90vw;
	margin-top: var(--margin-block);
	// outline: 1px solid red;
}

.embla {
	overflow: hidden;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}

.embla__container {
	display: flex;
	gap: 5rem;
	backface-visibility: hidden;
}

.embla__slide {
	flex: 0 0 auto;
	min-width: 0;
	width: 30rem;
	max-width: var(--page-max-width);

	@media screen and (max-width: $breakpoint-medium) {
		width: 100%;
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	// width: 60%;

	> * {
		outline: 1px solid red;
	}

	.card__image {
		position: relative;
		// width: 100%;
		// height: 100%;
		object-fit: cover;

		img {
			aspect-ratio: 9 / 16;
			border-radius: 50px;
		}
	}

	.card__content {
		margin-bottom: auto;
		.date {
			font-size: 0.7rem;
			opacity: 0.6;
			margin-bottom: 0.5rem;
		}

		h4 {
			font-size: 3rem;
			font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
			font-weight: 300;
			opacity: 0.4;
		}

		p {
			margin-block: 1.5rem;
		}
	}

	@media screen and (max-width: 1440px) {
		flex-direction: column;
	}
}

.embla__controls {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2em auto 0 auto;

	a {
		margin-top: 0;
	}

	@media screen and (max-width: $breakpoint-medium) {
		width: 100%;
	}

	a {
		margin-right: 2rem;
	}
}

.embla__dots {
	display: flex;
	flex-wrap: wrap;
	// justify-content: flex-end;
	align-items: center;
	margin-right: calc((2rem - 1.4rem) / 2 * -1);
}

.embla__dot {
	-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
	-webkit-tap-highlight-color: #779695;
	-webkit-tap-highlight-color: var(--color-tertiary);
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.3s ease-in-out;

	@media screen and (max-width: $breakpoint-medium) {
		width: 1rem;
		height: 1rem;
		margin-right: calc((2rem - 3rem) / 2 * -1);
		margin-bottom: calc((2rem - 3rem) / 2 * -1);
	}
}

.embla__dot:after {
	box-shadow: inset 0 0 0 0.2rem #28555357;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	content: "";
	transition: 0.3s ease-in-out;
}

.embla__dot--selected:after {
	box-shadow: inset 0 0 0 0.2rem #779695;
	transition: 0.3s ease-in-out;
}

// .embla__dots {
// 	display: flex;
// 	gap: 0.75rem;
// 	margin-top: 2rem;
// 	justify-content: center;
// }

// .embla__dot {
// 	width: 12px;
// 	height: 12px;
// 	border-radius: 50%;
// 	background-color: rgba(255, 255, 255, 0.3);
// 	border: none;
// 	cursor: pointer;
// 	transition: background-color 0.3s ease;
// 	padding: 0;

// 	&:hover {
// 		background-color: rgba(255, 255, 255, 0.6);
// 	}

// 	&_active {
// 		background-color: rgba(255, 255, 255, 1);
// 	}
// }
