.header {
	background: var(--color-primary);
	background: radial-gradient(at center top, #1f534d, #13332f);

	background: url("../../../public/images/bg.svg") no-repeat center center;
	background-size: cover;
	// background: radial-gradient(
	// 	ellipse 60% 40% at 25% 20%,
	// 	rgba(105, 139, 131, 0.12) 0%,
	// 	#11302c 60%,
	// 	#11302c 100%
	// );
	color: var(--color-secondary);
	padding-top: calc(15rem + var(--nav-height));

	animation: GradientBackground 12s ease infinite;
	overflow: hidden;

	// height: 170dvh;
	&::before {
		content: "";
		position: absolute;
		top: -20%;
		// left: -50%;
		width: 100%;
		height: 100%;
		background: radial-gradient(
			ellipse at center,
			rgba(105, 139, 131, 0.08) 0%,
			rgba(17, 48, 44, 0.8) 60%,
			#11302c 100%
		);
		transform: rotate(-25deg);
		filter: blur(60px);
		opacity: 1;
		z-index: -1;
	}

	.header__container {
		position: relative;
		width: 70%;
		max-width: var(--page-max-width);
		margin: 0 auto;

		.header__content {
			position: relative;
			display: flex;
			align-items: center;

			.header__title {
				position: absolute;
				display: flex;
				flex-direction: column;
				z-index: 2;
				word-wrap: break-word;
				// clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

				h1 {
					position: relative;
					display: inline-block;
					overflow: hidden;
					text-shadow:
						0 4px 24px rgba(0, 0, 0, 0.25),
						0 1.5px 0 rgba(17, 48, 44, 0.15);
					// transform: translateY(0);
					// clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}

				a {
					opacity: 0;
					width: fit-content;
				}
			}

			.header__image {
				visibility: hidden;
				position: relative;
				margin-left: auto;
				// transform: translateY(20%);
				overflow: hidden;
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				// clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);

				&::after {
					content: "";
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					background: var(--color-primary);
					opacity: 0.4;
					border-radius: var(--border-radius-small);
					z-index: 1;
				}

				img {
					width: 100%;
					border-radius: var(--border-radius-small);
					// margin-top: -10px;
					// clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}
			}
		}

		.header__intro {
			width: 75%;
			max-width: var(--page-max-width);
			// margin: 5rem auto 0 auto;
			margin-block: 5rem;
			margin-left: auto;

			p {
				width: 85%;
				margin-block: 4rem;
				font-size: 2rem;
				font-weight: 300;
			}
		}
	}
}
