.header {
	background: var(--foreground);
	// background: radial-gradient(at center top, #851818a8, #13332f);
	// background: url("../../../public/images/bg.svg") no-repeat center center;
	background-size: cover;
	// background: radial-gradient(
	// 	ellipse 60% 40% at 25% 20%,
	// 	rgba(105, 139, 131, 0.12) 0%,
	// 	#11302c 60%,
	// 	#11302c 100%
	// );
	color: var(--background);
	padding-block: 10rem;

	// height: 170dvh;
	&::before {
		content: "";
		position: absolute;
		top: -50%;
		left: -50%;
		width: 100%;
		height: 100%;
		background: radial-gradient(
			ellipse at center,
			rgba(105, 139, 131, 0.08) 0%,
			rgba(17, 48, 44, 0.8) 60%,
			#11302c 100%
		);
		transform: rotate(-25deg);
		filter: blur(60px);
		opacity: 1;
		z-index: 0;
	}

	.header__container {
		position: relative;
		width: 70%;
		max-width: var(--page-max-width);
		margin: 0 auto;

		.header__content {
			position: relative;
			display: flex;
			align-items: center;

			.header__title {
				position: absolute;
				display: flex;
				flex-direction: column;
				z-index: 1;
				word-wrap: break-word;
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

				h1 {
					position: relative;
					display: inline-block;
					overflow: hidden;
					text-shadow:
						0 4px 24px rgba(0, 0, 0, 0.25),
						0 1.5px 0 rgba(17, 48, 44, 0.15);
					// transform: translateY(0);
					// clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}

				a {
					width: fit-content;
				}
			}

			.header__image {
				position: relative;
				// transform: translateX(20%);
				margin-left: auto;
				width: 85%;
				border-radius: 15px;
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

				&::before {
					// content: "";
					// position: fixed;
					// left: 20%;
					// top: 20%;
					// width: 175%;
					// height: 100%;
					// background-image: radial-gradient(#ffffff 2px, transparent 2px);
					// background-size: contain;
					// background-size: 15px 15px;
					// opacity: 0.5;
					// pointer-events: auto;
					// z-index: 10;
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: 100%;
					background-image: linear-gradient(90deg, #000 0%, #fff 100%);
				}
			}
		}

		.header__intro {
			width: 75%;
			max-width: var(--page-max-width);
			// margin: 5rem auto 0 auto;
			margin-block: 5rem;
			margin-left: auto;

			p {
				font-size: 2rem;
			}
		}
	}
}
