@use "@/styles/breakpoints" as *;

.header {
	background: radial-gradient(at center top, #1f534d, var(--color-primary));
	// background: url("../../../public/images/bg.svg") no-repeat center center;
	color: var(--color-secondary);
	color: var(--color-primary-light);
	padding-top: calc(5rem + var(--nav-height));

	.header__container {
		position: relative;
		width: 90%;
		max-width: 2440px;
		margin: 0 auto;

		.header__content {
			position: relative;
			display: flex;
			align-items: center;

			.header__title {
				position: absolute;
				bottom: 7.5rem;
				width: 50%;
				display: flex;
				flex-direction: column;
				z-index: 2;
				margin-left: 15%;
				// clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

				h1 {
					position: relative;
					display: inline-block;
					overflow: hidden;
					word-break: break-word;
					break-after: auto;

					font-weight: 500;
					letter-spacing: -0.05rem;
					text-shadow:
						0 4px 24px rgba(0, 0, 0, 0.25),
						0 1.5px 0 rgba(17, 48, 44, 0.15);
					color: var(--color-secondary-light);
					color: var(--color-tertiary-light);

					visibility: hidden;
				}

				* > .highlighted {
					color: var(--color-tertiary);
					font-weight: 800;
				}

				p {
					// font-size: 1.5rem;
					font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
					width: 60%;
					margin-block: 2rem;
					text-shadow:
						0 4px 24px rgba(0, 0, 0, 0.25),
						0 1.5px 0 rgba(17, 48, 44, 0.15);
					visibility: hidden;
				}

				a {
					width: fit-content;
					opacity: 0;
					// visibility: hidden;
					transform: translateY(10px);
				}
			}

			.header__image {
				width: 100%;
				height: 900px;
				height: 70dvh;

				// transform: translateY(10%);
				clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				// visibility: hidden;
				// clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

				&::after {
					content: "";
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: var(--color-primary);
					background: linear-gradient(
						-121.785deg,
						rgba(18, 51, 47, 29%) 0%,
						rgba(18, 51, 47, 65%) 79%
					);

					z-index: 1;
				}

				img {
					visibility: hidden;
					object-fit: cover;
				}
			}
		}
	}

	.header__intro {
		width: var(--page-width);
		width: 50%;
		max-width: var(--page-max-width);
		margin-block: var(--margin-block);
		margin-left: 15%;
		font-weight: 400;
		font-size: 2rem;
	}

	@media screen and (max-width: $breakpoint-medium) {
		.header__container {
			.header__content {
				flex-direction: column;
				.header__title {
					position: relative;
					bottom: 0;
					width: 100%;
					margin: 0;
					padding: 0;

					h1 {
						width: 90%;
					}

					p {
						width: 90%;
					}
				}

				.header__image {
					height: 300px;
					margin-top: 2rem;
					overflow: hidden;

					img {
						position: relative !important;
						height: auto;
						object-fit: cover;
					}
				}
			}
		}

		.header__intro {
			width: 100%;
			font-size: 1.5rem;
			margin-block: var(--margin-block);
			margin-left: 0;
		}
	}

	@media screen and (max-width: $breakpoint-large) {
		.header__intro {
			margin-block: var(--margin-block);
			margin-left: 0;
			width: 80%;
		}
	}
}
