.slide__item a {
	display: flex;
	flex-direction: column;
	background: var(--color-tertiary-light);
	background: var(--color-tertiary);
	height: 500px;
	padding: 3rem 2rem;
	border-radius: var(--border-radius-small);
}

.slide__text {
	color: var(--color-primary);

	img {
		// width: 70%;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: 2rem;
	}

	p {
		font-size: 1.5rem;
		font-weight: 400;
		margin-block: 1rem;
	}

	span {
		font-family: var(--font-playfair);
		font-size: 1.2rem;
		font-weight: 400;
		font-style: italic;
		margin-top: auto;
	}
}

.slide__video {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-secondary);

	a {
		position: relative;
		width: var(--slide-size);
		height: --slide-height;
		padding: 0;
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: var(--border-radius-small);
	}

	.slide__video_overlay {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--color-tertiary);
		border-radius: var(--border-radius-small);
		opacity: 0.5;
	}

	span {
		z-index: 1;
		// color: var(--color-secondary);
		font-family: var(--font-playfair);
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: auto;
		padding: 0 0 3rem 2rem;
	}
}

.embla {
	width: 90%;
	// max-width: 48rem;
	margin: 5rem auto;
	--slide-height: 55rem;
	--slide-spacing: 5rem;
	--slide-size: 465px;
}

.embla__viewport {
	overflow: hidden;
}

.embla__container {
	display: flex;
	align-items: flex-start;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing) * -1);
	padding-block: 2rem;
	cursor: move;
	cursor: grab;
}

.embla__slide {
	transform: translate3d(0, 0, 0);
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
}

.embla__slide__number {
	box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
	border-radius: 1.8rem;
	font-size: 4rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding-inline: 2rem;
	// height: var(--slide-height);
	user-select: none;
	transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);

	&:hover {
		transform: scale(1.02);
		transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

.embla__controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2em;

	a {
		margin-top: 0;
	}
}

.embla__dots {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-right: calc((2rem - 1.4rem) / 2 * -1);
}

.embla__dot {
	-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
	-webkit-tap-highlight-color: #779695;
	-webkit-tap-highlight-color: var(--color-tertiary);
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.3s ease-in-out;
}

.embla__dot:after {
	box-shadow: inset 0 0 0 0.2rem #77969557;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	content: "";
	transition: 0.3s ease-in-out;
}

.embla__dot--selected:after {
	box-shadow: inset 0 0 0 0.2rem #779695;
	transition: 0.3s ease-in-out;
}
