.slide__item a {
	display: flex;
	flex-direction: column;

	img {
		// width: 70%;
		height: 450px;
		object-fit: cover;
	}

	p {
		// width: 75%;
		font-size: 1rem;
		// font-family: var(--font-playfair);
		font-weight: 400;
		margin-block: 1rem;
	}

	span {
		font-size: 1.2rem;
		font-weight: 600;
		font-family: var(--font-playfair);
	}
}

.embla {
	width: 100%;
	// max-width: 48rem;
	margin: 5rem auto;
	--slide-height: 55rem;
	--slide-spacing: 5rem;
	--slide-size: 30%;
}

.embla__viewport {
	overflow: hidden;
}

.embla__container {
	display: flex;
	align-items: flex-start;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing) * -1);
	cursor: move;
	cursor: grab;
}

.embla__slide {
	transform: translate3d(0, 0, 0);
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
}

.embla__slide__number {
	box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
	border-radius: 1.8rem;
	font-size: 4rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding-inline: 2rem;
	// height: var(--slide-height);
	user-select: none;
}

.embla__controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2em;

	a {
		margin-top: 0;
	}
}

.embla__dots {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-right: calc((2rem - 1.4rem) / 2 * -1);
}

.embla__dot {
	-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
	-webkit-tap-highlight-color: #779695;
	-webkit-tap-highlight-color: var(--color-tertiary);
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.3s ease-in-out;
}

.embla__dot:after {
	box-shadow: inset 0 0 0 0.2rem #77969557;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	content: "";
	transition: 0.3s ease-in-out;
}

.embla__dot--selected:after {
	box-shadow: inset 0 0 0 0.2rem #779695;
	transition: 0.3s ease-in-out;
}
