@use "@/styles/breakpoints.scss" as *;

.footer {
	background: var(--color-primary);
	// background: radial-gradient(at center bottom, #1f534d, #13332f);
	color: var(--color-secondary);
	overflow-x: hidden;
	padding-block: var(--section-padding);

	hr {
		margin-block: var(--margin-block);
		opacity: 0.2;
	}

	.footer__content {
		display: flex;
		justify-content: space-between;

		.footer__content__contact {
			display: flex;
			flex-direction: column;
			align-items: end;
			text-align: right;

			@media screen and (max-width: $breakpoint-medium) {
				align-items: start;
			}

			h3 {
				font-weight: 600;
				color: var(--color-tertiary);
				margin-bottom: 1rem;
			}

			.footer__email {
				font-size: 2rem;
				margin-block: 1rem;
			}

			.footer__booking {
				margin-right: 35px;
			}

			a {
				width: fit-content;
				transition: 0.4s ease-in-out;

				&:hover,
				&:focus,
				&:active {
					color: var(--color-tertiary);
					transition: 0.4s ease-in-out;
				}

				&:hover::after,
				&:focus::after,
				&:active::after {
					transform: scaleX(200%);
					background: var(--color-tertiary);
					transition: 0.4s ease-in-out;
				}
			}
		}
	}

	.footer__bottom {
		display: flex;
		justify-content: space-between;
		padding-bottom: 5rem;

		.footer__bottom__right {
			display: flex;
			flex-direction: column;
			text-align: right;

			a {
				margin-top: 0.5rem;
				color: var(--color-tertiary);

				span {
					font-weight: 600;
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-medium) {
		.footer__content {
			flex-direction: column;

			.footer__content__logo {
				margin-bottom: 2rem;
			}

			.footer__content__nav {
				ul {
					columns: 2;
					margin: 0;

					li {
						// margin-top: 1rem;
						a {
							margin: 1rem 0;
							text-align: left;

							svg {
								// margin-right: 0.5rem;
								width: 1.2rem;
								height: 1.2rem;
							}
						}
					}
				}
			}

			.footer__content__contact {
				width: 100%;
				text-align: left;
				margin-left: auto;
				// margin-bottom: 2rem;

				h3 {
					margin: 3rem 0 0 0;
				}

				a:last-child {
					font-size: 14px;
				}
			}
		}

		.footer__bottom {
			flex-direction: row;
			font-size: 12px;
			text-align: left;

			p {
				margin-bottom: 0.5rem;
			}

			div a {
				margin-top: 1rem;
				font-size: 12px;
			}

			.footer__bottom__right {
				text-align: right;
			}
		}
	}
}
