@use "@/styles/breakpoints.scss" as *;

.footer {
	background: var(--color-primary);
	// background: radial-gradient(at center bottom, #1f534d, #13332f);
	color: var(--color-secondary);
	overflow-x: hidden;
	padding-block: var(--section-padding);

	form {
		position: relative;

		div {
			display: flex;
			flex-direction: column;

			label {
				margin-bottom: 1rem;
				margin-left: 1rem;
			}
			input {
				width: 30%;
				background: var(--color-primary-lighter);
				color: var(--color-secondary);
				border-radius: var(--border-radius-small);
				padding: 1rem 1rem;
				margin-right: 2rem;
				// transition: 0.6s ease-in-out;

				&:focus {
					background: var(--color-primary);
					// transition: 0.6s ease-in-out;
					outline: 1px solid var(--color-tertiary);
				}
				&::placeholder {
					opacity: 0.5;
					color: var(--color-tertiary-light);
				}
			}
		}

		button {
			width: auto;
		}
	}

	hr {
		margin-block: var(--margin-block);
		opacity: 0.2;
	}

	.footer__content {
		display: flex;
		justify-content: space-between;

		.footer__content__nav {
			ul {
				margin-top: -2rem;
			}
		}

		.footer__content__contact {
			display: flex;
			flex-direction: column;
			text-align: right;

			h3 {
				font-weight: 600;
				color: var(--color-tertiary);
				margin-bottom: 1rem;
			}

			.footer__email {
				font-size: 1.5rem;
				margin-block: 1rem;
			}

			a {
				width: fit-content;
				transition: 0.4s ease-in-out;

				&:hover {
					color: var(--color-tertiary);
					transition: 0.4s ease-in-out;
				}

				&:hover::after {
					transform: scaleX(200%);
					background: var(--color-tertiary);
					transition: 0.4s ease-in-out;
				}
			}
		}
	}

	.footer__bottom {
		display: flex;
		justify-content: space-between;
		padding-bottom: 5rem;

		.footer__bottom__right {
			display: flex;
			flex-direction: column;
			text-align: right;

			a {
				margin-top: 0.5rem;
				color: var(--color-tertiary);

				span {
					font-weight: 600;
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-medium) {
		form {
			input {
				width: 100%;
			}
		}

		.footer__content {
			flex-direction: column;

			.footer__content__logo {
				margin-bottom: 2rem;
			}

			.footer__content__nav {
				ul {
					columns: 2;
					margin: 0;

					li {
						// margin-top: 1rem;
						a {
							margin: 1rem 0;
							text-align: left;
							font-size: 18px;

							svg {
								// margin-right: 0.5rem;
								width: 1.2rem;
								height: 1.2rem;
							}
						}
					}
				}
			}

			.footer__content__contact {
				width: 100%;
				text-align: left;
				margin-left: auto;
				// margin-bottom: 2rem;

				h3 {
					margin: 3rem 0 0 0;
				}

				a:last-child {
					font-size: 14px;
				}
			}
		}

		.footer__bottom {
			flex-direction: row;
			// align-items: center;
			font-size: 12px;
			text-align: left;

			p {
				margin-bottom: 0.5rem;
			}

			div a {
				margin-top: 2rem;
				font-size: 14px;
			}

			.footer__bottom__right {
				text-align: right;
			}
		}
	}
}
