@use "@/styles/breakpoints" as *;

.nav {
	position: fixed;
	display: flex;
	align-items: center;
	width: var(--page-width);
	height: var(--nav-height);
	max-width: var(--page-max-width);
	left: 50%;
	transform: translateX(-50%);
	margin-top: 2rem;
	color: var(--color-primary);
	color: var(--color-primary-light);
	border-radius: var(--border-radius-big);
	z-index: 1000;

	img {
		width: 170px;
	}

	&:hover {
		// height: 90dvh;
		// border-radius: 2.5rem;
	}

	.nav__list {
		position: relative;
		display: flex;
		align-items: center;

		li {
			display: none;
			margin-right: 2rem;
			&:last-child {
				margin-right: 0;
			}
		}

		.nav__hamburger {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			align-items: center;
			justify-content: center;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: var(--border-radius-big);
			background-color: var(--color-primary);
			color: var(--color-secondary);
			cursor: pointer;
			transition: 0.2s ease-in;

			&::before,
			&::after {
				content: "";
				position: relative;
				width: 13px;
				height: 1px;
				background-color: var(--color-secondary);
				transition: 0.2s ease-in;
			}

			&:hover {
				background-color: var(--color-primary-light);
				transition: 0.4s ease-out;
				&::before,
				&::after {
					background-color: var(--color-primary);
					transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}

	@media screen and (max-width: $breakpoint-large) {
		li {
			display: none;
		}
	}
}
