@use "@/styles/breakpoints" as *;

.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
	color: var(--color-primary-light);
	z-index: 1001;

	@media screen and (max-width: $breakpoint-small) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: transparent;
			backdrop-filter: blur(10px);
		}
	}

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: -50%;
	// 	left: -25%;
	// 	width: 150%;
	// 	height: 150%;
	// 	// background-color: var(--color-primary);
	// 	z-index: -1;
	// 	// opacity: 0.5;
	// 	background: transparent;
	// 	backdrop-filter: blur(10px);
	// }

	.nav__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: var(--page-width);
		height: var(--nav-height);
		max-width: var(--page-max-width);
		margin-block: 2rem;
		padding: 0;
		img {
			width: 170px;

			@media screen and (max-width: $breakpoint-medium) {
				width: 100px;
			}
		}

		.nav__hamburger {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			align-items: center;
			justify-content: center;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: var(--border-radius-big);
			background-color: var(--color-primary);
			color: var(--color-secondary);
			cursor: pointer;
			transition: 0.2s ease-in;
			transform-origin: center;

			&::before,
			&::after {
				content: "";
				position: relative;
				width: 13px;
				height: 1px;
				background-color: var(--color-secondary);
				transition: 0.2s ease-in;
				transform-origin: center;
			}

			&:hover {
				background-color: var(--color-primary-light);
				transition: 0.4s ease-out;
				&::before,
				&::after {
					background-color: var(--color-primary);
					transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}

			@media screen and (max-width: $breakpoint-small) {
				width: 2.2rem;
				height: 2.2rem;
				gap: 0.2rem;

				&::before,
				&::after {
					width: 13px;
				}
			}
		}
		.nav__hamburger[data-menu-open="true"] {
			&::before {
				transform: rotate(45deg) translate(1.5px, 2px);
			}
			&::after {
				transform: rotate(-45deg) translate(1.5px, -2px);
			}
		}

		@media screen and (max-width: $breakpoint-small) {
			// margin-top: 2rem;
		}
	}
}

.nav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: var(--color-tertiary);
	z-index: 999;
	transform: translateY(-100%);
	opacity: 0.2;
	visibility: hidden;
}
