.nav {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	// height: 5rem;
	height: var(--nav-height);
	max-width: var(--page-max-width);
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1rem;
	// background-color: var(--color-primary-light);
	color: var(--color-primary);
	color: var(--color-primary-light);
	border-radius: var(--border-radius-big);
	z-index: 1000;

	&:hover {
		// height: 90dvh;
		// border-radius: 2.5rem;
	}

	.nav__list {
		position: relative;
		display: flex;
		align-items: center;

		li {
			margin-right: 2rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
