@use "@/styles/breakpoints" as *;

.nav_body__container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transform: translateY(-100%);

	.nav_body__top {
		background-color: var(--color-primary);
		background-color: var(--color-primary-lighter);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: calc(--var(--nav-height) + 2rem);
		width: 100%;
		height: 75%;
		z-index: 2;

		@media screen and (max-width: $breakpoint-large) {
			height: 80%;
		}

		@media screen and (max-width: $breakpoint-small) {
			padding-top: 3rem;
		}

		.nav_body__content {
			position: relative;
			height: 100%;
			width: 100%;
			width: var(--page-width);
			max-width: var(--page-max-width);
			display: flex;
			flex-direction: row;

			.nav_body__links {
				position: relative;
				height: fit-content;
				top: 55%;
				transform: translateY(-50%);

				ul {
					width: 80%;

					@media screen and (max-width: $breakpoint-medium) {
						width: 100%;
					}

					@media screen and (max-width: $breakpoint-small) {
						width: 100%;
					}

					li {
						display: inline-block;
						margin-right: 7rem;
						font-family: var(--font-playfair);
						font-size: 3rem;
						font-size: clamp(2rem, 4vw + 0.5rem, 3rem);

						@media screen and (max-width: $breakpoint-medium) {
							// font-size: 2rem;
							margin-right: 4rem;
							display: flex;
						}

						a {
							// font-size: clamp(1.5rem, 3vw + 0.5rem, 3rem);
							width: fit-content;
							font-weight: 400;
							color: var(--color-secondary);
							display: inline-block;
							overflow: hidden;
							transition: all 2.8s cubic-bezier(0.075, 0.82, 0.165, 1);

							&:hover,
							&:focus,
							&:active {
								color: var(--color-primary-light);
								color: var(--color-tertiary);
								transition: all 2.8s cubic-bezier(0.075, 0.82, 0.165, 1);
							}
						}
					}
				}
			}

			.nav_body__image {
				position: absolute;
				top: 65%;
				right: 0;
				transform: translateY(-65%);
				height: 70%;
				aspect-ratio: 3 / 2;
				z-index: -1;

				img {
					object-fit: cover;
					object-position: center;
				}

				@media screen and (max-width: $breakpoint-small) {
					display: none;
				}
			}
		}

		.nav_body__footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: end;
			width: var(--page-width);
			max-width: var(--page-max-width);
			padding-bottom: 5rem;
			color: var(--color-secondary);

			.nav_footer__left,
			.nav_footer__right {
				display: grid;
				gap: 1rem;
				flex-direction: column;

				h3 {
					font-weight: 600;
					color: var(--color-tertiary);
				}

				.footer__email {
					font-size: 2rem;
					font-weight: 100;
					transition: 0.4s ease-in-out;

					&:hover,
					&:focus,
					&:active {
						color: var(--color-tertiary);
						transition: 0.4s ease-in-out;
					}
				}

				a {
					margin-right: 35px;
				}

				@media screen and (max-width: $breakpoint-medium) {
					font-size: 2rem;
					h3 {
						font-weight: 600;
						color: var(--color-tertiary);
						margin-bottom: 1rem;
					}

					.footer__email {
						font-size: 1.5rem;
					}
				}

				@media screen and (max-width: $breakpoint-small) {
					font-size: 0.7rem;
					h3 {
						font-size: 2rem;
						font-weight: 600;
						color: var(--color-tertiary);
						margin-block: 0;
					}

					.footer__email {
						font-size: 1.25rem;
					}
				}
			}

			@media screen and (max-width: $breakpoint-large) {
				padding-bottom: 2rem;
			}
		}
	}
}
