@use "@/styles/breakpoints" as *;

.newsletter__wrapper {
	margin: 0 auto;

	p {
		width: 60%;
		font-size: clamp(32px, 5vw + 16px, 48px);
		line-height: clamp(38px, 6vw + 18px, 68px);
		color: var(--color-tertiary);

		@media screen and (max-width: $breakpoint-medium) {
			width: 100%;
		}
	}

	form {
		position: relative;

		div {
			display: flex;
			flex-direction: column;

			label {
				margin-bottom: 1rem;
				margin-left: 1rem;
			}

			input {
				width: 40%;
				background: var(--color-primary-lighter);
				color: var(--color-secondary);
				border-radius: var(--border-radius-small);
				padding: 1rem 1rem;
				margin-right: 2rem;

				&:focus {
					background: var(--color-primary);
					outline: 1px solid var(--color-tertiary);
				}
				&::placeholder {
					opacity: 0.5;
					color: var(--color-tertiary-light);
				}

				@media screen and (max-width: $breakpoint-large) {
					width: 60%;
				}

				@media screen and (max-width: $breakpoint-medium) {
					width: 100%;
				}
			}
		}
	}
}
